{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Curso Django Pro</title>

    <meta name="description" content="Página do Curso Django Pro">
    <meta name="author" content="Renê Lima">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'base:home' %}">Python Pró</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Curso de Python Django Pró</h2>
                <h4 class="mt-4">Entre na fila de espera</h4>
                <!-- Mailchimp signup form -->
                <form action="https://gmail.us17.list-manage.com/subscribe/post?u=d340f475feb4aa63367bdf332&amp;id=5da1922906" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="required form-control" id="mce-EMAIL" placeholder="Seu melhor email">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Nome</label>
                            <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME" placeholder="Seu nome">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
                <!-- End signup form -->
            </div>
        </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Mussum Ipsum, cacilds vidis litro abertis.
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/foto-rene.png' %}" alt="Foto de Renê, aluno do curso" class="img-thumbnail float-left mr-3" style="max-width: 15%">
                        Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Pra lá , depois divoltis porris, paradis. Sapien in monti palavris qui num significa nadis i pareci latim. Manduma pindureta quium dia nois paga.
                        Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Detraxit consequat et quo num tendi nada. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Quem num gosta di mim que vai caçá sua turmis!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <footer>
                    <h3>Entre em contato</h3>
                    <address>
                        <a href="tel:+5577991895578" class="text-light">+55 77 99189-5578</a>
                        <br>
                        <a href="mailto:rene.exe@gmail.com" class="text-light">rene.exe@gmail.com</a>
                    </address>
                </footer>
            </div>
        </div>
    </div>
</div>
<div class="rights pb-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                {% now 'Y' %} Python Pró. Todos os direitos reservados.
            </div>
        </div>
    </div>
</div>

</body>
</html>