{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Curso de Python Django Pró</h2>
                <h4 class="mt-4">Garanta já sua vaga!</h4>
                <!-- INICIO DO BOTAO PAGSEGURO -->
                <a href="https://pag.ae/7WnMsmCpr/button" target="_blank" title="Pagar com PagSeguro"><img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
                <!-- FIM DO BOTAO PAGSEGURO -->
                <!-- Mailchimp signup form -->
                <!--
                <h4 class="mt-4">Entre na fila de espera</h4>
                <form action="https://gmail.us17.list-manage.com/subscribe/post?u=d340f475feb4aa63367bdf332&amp;id=5da1922906" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="required form-control" id="mce-EMAIL" placeholder="Seu melhor email">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Nome</label>
                            <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME" placeholder="Seu nome">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
                -->
                <!-- End signup form -->
            </div>
        </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Mussum Ipsum, cacilds vidis litro abertis.
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/foto-rene.png' %}" alt="Foto de Renê, aluno do curso" class="img-thumbnail float-left mr-3" style="max-width: 15%">
                        Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Pra lá , depois divoltis porris, paradis. Sapien in monti palavris qui num significa nadis i pareci latim. Manduma pindureta quium dia nois paga.
                        Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Detraxit consequat et quo num tendi nada. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Quem num gosta di mim que vai caçá sua turmis!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}